* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
}

body,
html {
  height: 100%;
  background: linear-gradient(
    75deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(200, 200, 200, 1) 100%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.contenedor-cartas {
  display: flexbox;
  flex-wrap: wrap;
  width: 40%;
}

.contenedor-tabla {
  width: 30%;
}

img {
  height: fit-content;
  width: 100%;
  max-width: 100px;
}

#portada {
  display: flex;
  justify-content: center;
}

#portada > img {
  margin: 15px;
  max-width: 200px;
}

table {
  border-collapse: collapse;
  width: 400px;
  max-height: 210px;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: hsl(0, 100%, 74%);
}

table tr:nth-child(even) {
  background-color: #eeeeee;
}

table tr:nth-child(odd) {
  background-color: #fefefefe;
}

table tr:hover {
  background-color: #ffdede;
}

button {
  display: flexbox;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #ffbbbb;
  color: #000;
  background-color: hsl(0, 100%, 74%);
  border-radius: 5px;
}

button:hover {
  background-color: #ffdede;
  border: 2px solid hsl(0, 100%, 74%);
  color: #000;
}

input {
  display: flex;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

input:hover {
  border: 2px solid hsl(0, 100%, 74%);
}
